<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>im.mesystem.cn</string>
	<key>port</key>
	<string>9098</string>
	<key>webPort</key>
	<string>443</string>
	<key>appInHost</key>
	<string>http://www.mubiaoyi.com:80</string>
</dict>
</plist>
