<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Server_Key</key>
	<dict>
		<key>HomeView_Subviews</key>
		<string>Recent,AddressBook,AppCenter,CorpCircle,MySetting</string>
		<key>HomeView_ActivateTabId</key>
		<string>Recent</string>
		<key>HomeView_Subviews_Recent_Title</key>
		<string>消息</string>
		<key>HomeView_Subviews_AddressBook_Title</key>
		<string>通讯录</string>
		<key>HomeView_Subviews_AppCenter_Title</key>
		<string>应用</string>
		<key>HomeView_Subviews_CorpCircle_Title</key>
		<string>圈子</string>
		<key>HomeView_Subviews_CorpOA_Title</key>
		<string>OA</string>
		<key>HomeView_Subviews_MySetting_Title</key>
		<string>我的</string>
		<key>HomeView_Subviews_AppSample_Title</key>
		<string>工作</string>
		<key>HomeView_Subviews_OAMailCenter_Title</key>
		<string>应用</string>
		<key>HomeView_Subviews_ZhongHeCenter_Title</key>
		<string>应用</string>
		<key>AddBook_UpMenu</key>
		<string>NewFriend,CorpAddBook,GroupList</string>
		<key>AddBook_UpMenu_NewFriend_Title</key>
		<string>新的朋友</string>
		<key>AddBook_UpMenu_CorpAddBook_Title</key>
		<string>企业通讯录</string>
		<key>AddBook_UpMenu_GroupList_Title</key>
		<string>群组</string>
		<key>AddBook_UpMenu_FriendCorp_Title</key>
		<string>友好企业</string>
		<key>AddBook_UpMenu_CorpGroup_Title</key>
		<string>企业群</string>
		<key>AddBook_PersonalDetailLabel_ReferenceKey</key>
		<string>position</string>
		<key>AddBook_PersonalSearchDetailLabel_ReferenceKey</key>
		<string>position</string>
		<key>AppCenter_TopBar_ImageId</key>
		<string>AppIntroductionBG1</string>
		<key>AppCenter_TopBar_ImageClickable</key>
		<true/>
		<key>AppCenter_TopBar_ImageInterval</key>
		<string>3</string>
		<key>AppCenter_GridView_ItemRoundCorner_Enable</key>
		<true/>
		<key>AppCenter_UnreadCountRefresh_TimerSecond</key>
		<string>60</string>
		<key>UserDefaultHead_URL</key>
		<string></string>
		<key>LaunchView_URL</key>
		<string></string>
		<key>MyInfo_Edit</key>
		<true/>
		<key>PersonalCard_ExtItemHidden</key>
		<false/>
		<key>PersonalCard_ExtItemSort</key>
		<string>telephone,mobile,email,qq,weiXin,room,idNumber</string>
		<key>PersonalCard_Item_Title</key>
		<dict>
			<key>enterprise</key>
			<string>所属企业</string>
			<key>department</key>
			<string>部门</string>
			<key>position</key>
			<string>职位</string>
			<key>qq</key>
			<string>QQ</string>
			<key>weiXin</key>
			<string>微信</string>
			<key>idNumber</key>
			<string>身份证</string>
			<key>room</key>
			<string>房间号</string>
			<key>mobile</key>
			<string>手机号</string>
			<key>telephone</key>
			<string>电话</string>
			<key>email</key>
			<string>邮箱地址</string>
			<key>birthday</key>
			<string>出生日期</string>
		</dict>
		<key>MySetting_CustomerServiceHidden</key>
		<true/>
		<key>MySetting_ContactUsHidden</key>
		<false/>
		<key>MySetting_OAMailCacheCleanHidden</key>
		<true/>
		<key>MySetting_GenernalSettingHidden</key>
		<false/>
		<key>AddBook_MyDepartmentHidden</key>
		<false/>
		<key>AppContactUs_ServicePhone</key>
		<string>020-87600139</string>
		<key>AppContactUs_ServiceEMail</key>
		<string>maie@miracles.cn</string>
		<key>AppContactUs_CopyRightHidden</key>
		<false/>
		<key>AccountSecurity_PasswordEditHidden</key>
		<false/>
		<key>AccountSecurity_AccountBindHidden</key>
		<false/>
		<key>SocialShare_Enable</key>
		<false/>
		<key>WorkRemind_NewMsgPromptHidden</key>
		<false/>
		<key>ChatItem_User_Delete</key>
		<false/>
		<key>ChatItem_Group_Delete</key>
		<false/>
		<key>ChatItem_AppRemind_Delete</key>
		<false/>
		<key>EnableRegistration</key>
		<true/>
		<key>BadgeCountRange</key>
		<string>Recent</string>
		<key>ForceUpdateApp_Enable</key>
		<false/>
		<key>ForceUpdateApp_Reason</key>
		<string></string>
		<key>Login_AppVersion_Hidden</key>
		<false/>
		<key>DisableOpenFileByThirdParty</key>
		<false/>
		<key>EnableVPN</key>
		<true/>
		<key>WebView_SSLCert_AuthDisable</key>
		<false/>
		<key>OAMail_MailList_SearchBtnHidden</key>
		<false/>
		<key>MediaChatServerNode</key>
		<string>Publicfree</string>
		<key>MicroApp_BatchSet_NoNewTag_AfterDays</key>
		<string>0</string>
	</dict>
	<key>Custom_Key</key>
	<dict>
		<key>WorkRemind_AssistantEnable</key>
		<true/>
		<key>LoginIdPrefix</key>
		<string></string>
		<key>UseSSLSocketConnect</key>
		<string>1</string>
	</dict>
	<key>Private_Key</key>
	<dict/>
	<key>Theme</key>
	<dict>
		<key>ThemeClientId</key>
		<string>Miracle</string>
		<key>ThemeName</key>
		<string>Default</string>
		<key>ThemePlistName</key>
		<string></string>
	</dict>
	<key>Vendors_Key</key>
	<dict>
		<key>AppStore</key>
		<dict>
			<key>AppLoopUpUrl</key>
			<string>http://itunes.apple.com/cn/lookup?id=%@</string>
		</dict>
		<key>ShareSDK</key>
		<dict>
			<key>AppID</key>
			<string>22ffbd502f26e</string>
		</dict>
	</dict>
</dict>
</plist>
